.scroll-animate {
  overflow: hidden;
  position: relative;
}

.scroll-animate-main {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
}

.heightPage,
.heightScroll {
  width: 10px;
  top: 0;
  position: absolute;
  z-index: 99;
}

.heightPage {
  left: 0;
}

.heightScroll {
  right: 0;
}

.header {
  width: 100%;
  height: 100%;
  /* no-repeat 50% 50%; */
  top: 0;
  position: fixed;
  z-index: -1;
}

.footer {
  width: 100%;
  height: 300px;
  background: gray;
  bottom: -300px;
  position: fixed;
  z-index: -1;
}

.content {
  height: 1000px;
  min-height: 1000px;
  background: #ededed;
  position: relative;
  z-index: 1;
}

.wrapper-parallax {
  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* text-transform: uppercase; */
  text-align: center;
  font-family: Helvetica;
  font-size: 150px;
  color: #333;
}

.header h1 {
}

.content h1 {
  line-height: 1000px;
  color: #999;
}

.footer h1 {
  line-height: 300px;
}

.header,
.footer,
.scroll-animate-main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(10, 10, 10, 1);
  -moz-transition-timing-function: cubic-bezier(10, 10, 10, 1);
  transition-timing-function: cubic-bezier(10, 10, 10, 1);
}

/*
            NOTE: This is just an experiment and
                  could use some changes to improve performance:
        
            https://x.com/actualTimWilson/status/1730753841795158313
        
            See a production optimized version here: https://charmui.com
            */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: Inter, sans-serif;
}

@keyframes jumbo {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.jumbo {
  --stripes: repeating-linear-gradient(
    100deg,
    #fff 0%,
    #fff 7%,
    transparent 10%,
    transparent 12%,
    #fff 16%
  );
  --stripesDark: repeating-linear-gradient(
    100deg,
    #000 0%,
    #000 7%,
    transparent 10%,
    transparent 12%,
    #000 16%
  );
  --rainbow: repeating-linear-gradient(
    100deg,
    #60a5fa 10%,
    #e879f9 15%,
    #60a5fa 20%,
    #5eead4 25%,
    #60a5fa 30%
  );
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;

  filter: invert(100%); /* 블러 효과 삭제 */

  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

  pointer-events: none;
}

.jumbo::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: jumbo 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.dark .jumbo {
  background-image: var(--stripesDark), var(--rainbow);
  filter: invert(100%) opacity(50%) saturate(200%); /* 블러 효과 삭제 */
}
.dark .jumbo::after {
  background-image: var(--stripesDark), var(--rainbow);
}
